

.logo--header {
  position: absolute;
  width: 150px;
  margin-left: 160px;
  margin-top: -18px;
}

.banner--color {
  background-color: rgb(0, 0, 0, 0.2);
  padding: 10px;
}

.header--text {
  margin-left: 313px;
  margin-top: 50px;
}

.header--text_decoration {
  color: white;
}

.btn {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.btn--empresa {
  color: #c34a51;
  margin-right: 50px;
  background-color: white;
  padding: 15px 55px;
  border-radius: 10px;
  animation: 3.5s ease-in-out slide--btn;
}

@keyframes slide--btn {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

.header--text_h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
  animation: 1s ease-in-out slide--text__h1;
}

@keyframes slide--text__h1 {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

.header--text_p {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 50px;
  animation: 2s ease-in-out slide--text__p;
}

@keyframes slide--text__p {
  to {
    margin-top: 0;
    opacity: 1;
  }
  from {
    margin-top: 30px;
    opacity: 0;
  }
}

.header--flatgirl__wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: -400px;
  margin-right: 100px;
  animation: 3s ease-in-out slidein;
}

.header--flatgirl {
  width: 600px;
}

@keyframes slidein {
  to {
    margin-right: 100px;
    opacity: 1;
  }
  from {
    margin-right: -100px;
    opacity: 0;
  }
}

.dropdown {
  display: none;
}

/*Sobre Nós*/

.sobre {
  position: sticky;
  display: grid;
  grid-template-columns: 600px 600px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 160px;
  align-content: center;
}

.sobre h2 {
  text-align: center;
}

.sobre--imgEquipe {
  width: 450px;
  box-shadow: -11px -9px 0px 2px #552650;
}

.conquistas {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2 , 100px);
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 160px;
  gap:20px 250px;
  text-align: center;
}

.conquistas--img{
  grid-row: 1;
  max-width: 30%;
}

/*Depoimentos*/

.depoimentos {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin-top: 160px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.foto--depoimento1,
.foto--depoimento2,
.foto--depoimento3 {
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: -60px 0 0 200px;
  border-radius: 50%;
  z-index: 2;
}

.depoimentos--primeiro,
.depoimentos--segundo,
.depoimentos--terceiro {
  padding: 10px;
  width: 300px;
  height: 309px;
  box-shadow: -9px -9px 26px #c34a5018, 9px 9px 16px #dddddd;
  border-radius: 20px;
}



/*Nossos Serviços*/

.serviços {
  display: grid;
  grid-template-columns: 600px 600px;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}

.serviços--temas {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 200px);
  justify-content: center;
  gap: 20px;
}

.serviços--temas__h1 {
  display: flex;
  align-items: flex-end;
  padding: 0 0 10px 10px;
  width: 200px;
  height: 200px;
  background-color: #c34a51;
}

.serviços--temas__h1:hover {
  color: #c34a51;
  background-color: white;
  box-shadow: 2px 2px 20px rgb(243, 243, 243);
}

.serviços--texto {
  display: grid;
  grid-template-columns: 400px;
  justify-content: center;
  justify-items: center;
}

.btn--consultor {
  width: 150px;
  text-align: center;
  color: white;
  background-color: #c34a51;
  padding: 18px 32px;
  border-radius: 10px;
  font-size: 16px;
}

/*Outros*/

.videos {
  margin-top: 160px;
  display: grid;
  text-align: center;
  justify-content: center;
}

.maps {
  margin: 160px 0 160px 0;
  width: 100%;
}

/*Footer*/

/*Media Query

@media (max-width: 1700px) {
  .header--flatgirl__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: -400px;
    margin-right: -150px;
    animation: 3s ease-in-out slidein;
  }

  .header--flatgirl {
    width: 600px;
  }

  @keyframes slidein {
    to {
      margin-right: -150px;
      opacity: 1;
    }
    from {
      margin-right: 100px;
      opacity: 0;
    }
  }

  .header--text {
    margin-left: 150px;
    margin-top: 50px;
  }

  .conquistas {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 100px);
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 160px;
  gap:20px 250px;
  text-align: center;
  }
  .sobre {
    position: sticky;
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 160px;
    align-content: center;
    gap: 70px;
  }

  .sobre h2 {
    text-align: center;
  }

  .sobre--imgEquipe {
    width: 450px;
    box-shadow: -11px -9px 0px 2px #552650;
  }
  

}

@media (max-width: 1280px) {
  .header--flatgirl__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: -250px;
    margin-right: 150px;
    animation: 3s ease-in-out slidein;
  }

  .header--flatgirl {
    width: 450px;
  }

  @keyframes slidein {
    to {
      margin-right: 150px;
      opacity: 1;
    }
    from {
      margin-right: -100px;
      opacity: 0;
    }
  }

  .header--text {
    margin-left: 150px;
    margin-top: 50px;
  }

  /*Nossos Serviços

  .serviços {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
  }

  .serviços--temas {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    justify-content: start;
    column-gap: 70px;
    row-gap: 70px;
  }

  .serviços--temas__h1 {
    display: flex;
    align-items: flex-end;
    padding: 0 0 10px 10px;
    width: 150px;
    height: 150px;
    background-color: #c34a51;
  }

  .serviços--temas__h1:hover {
    color: #c34a51;
    background-color: white;
    box-shadow: 2px 2px 20px rgb(243, 243, 243);
  }

  .serviços--texto {
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;
    justify-items: center;
  }

  .btn--consultor {
    width: 150px;
    text-align: center;
    color: white;
    background-color: #c34a51;
    padding: 18px 32px;
    border-radius: 10px;
    font-size: 16px;
  }

  .conquistas {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 100px);
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 160px;
  gap:20px 150px;
  text-align: center;
  }

  .depoimentos {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    margin-top: 160px;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}

@media (max-width: 965px) {
  .header--flatgirl__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: -250px;
    margin-right: -120px;
    animation: 3s ease-in-out slidein;
  }

  .header--flatgirl {
    width: 450px;
  }

  @keyframes slidein {
    to {
      margin-right: -120px;
      opacity: 1;
    }
    from {
      margin-right: -100px;
      opacity: 0;
    }
  }

  .header--text {
    margin-left: 50px;
    margin-top: 50px;
  }

  /*Nossos Serviços

  .serviços {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 400px;
    justify-content: center;
    margin-top: 50px;
  }

  .serviços--temas {
    display: grid;
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: repeat(2, 160px);
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
  }

  .serviços--temas__h1 {
    display: flex;
    align-items: flex-end;
    width: 150px;
    height: 150px;
    background-color: #c34a51;
  }
  .conquistas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    gap: 50px;
    text-align: center;
  }
  .conquistas--img{
    max-width: 10%;
  }

  .sobre {
    position: sticky;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 400px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 60px;
    align-content: center;
    gap: 70px;
  }

  .sobre h2 {
    text-align: center;
  }

  .sobre--imgEquipe {
    width: 450px;
    box-shadow: -11px -9px 0px 2px #552650;
  }
}


@media(max-width:800px){
    .ul--desktop{
     display:none;
    }

    .dropdown{
      display: flex;
      justify-content: end;
    }
    
    .ul--mobile{
      margin: 0;
      display: none;
      padding: 20px;
      background: linear-gradient(180deg, #AC4253 0%, #43224D 100%);
      border-radius: 10px;
    }

.teste{
    display: flex;
    justify-content: center;
    flex-direction: column;
    }

    .ul--mobile a{ 
      display: flex;
      justify-content: start;
      padding: 12px 16px;
      column-gap: 10px;
    }

    .ul--mobile__img{
      max-width: 30px;
    
    }


    .dropdown:hover .ul--mobile{
      display: block;
      position: absolute;
      top: 50px;
    }


    .icon--dropdown{
      display: flex;
      max-width: 20px;
    }

  .logo--header {
    position: absolute;
    width: 150px;
    margin-left: 60px;
    margin-top: -30px;
  }
  
  .banner--color {
    background-color: rgb(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .header--text {
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-top: 50px;
  }
  
  .header--text_decoration {
    color: white;
  }
  
  .header--text_h1{
    max-width: 100%;
    font-size: 40px;
  }

  .header--text_p{
    font-size: 20px;
  }

  .btn {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
  }
  
  .btn--empresa {
    color: #c34a51;
    background-color: white;
    margin: 0;
    padding: 15px 55px;
    border-radius: 10px;
    animation: 3.5s ease-in-out slide--btn;
  }

  .header--flatgirl{
    display: none;
  }

  .videos iframe{
    width: 360px;
  }

}

*/