.logo--header {
  position: absolute;
  width: 150px;
  margin-left: 160px;
  margin-top: -18px;
}

.banner--color {
  background-color: rgb(0, 0, 0, 0.2);
  padding: 10px;
}

.header--text {
  margin-left: 313px;
  margin-top: 50px;
}

.header--text_decoration {
  color: white;
}

.btn {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.btn--empresa {
  color: #c34a51;
  margin-right: 50px;
  background-color: white;
  padding: 15px 55px;
  border-radius: 10px;
  animation: 3.5s ease-in-out slide--btn;
}

@keyframes slide--btn {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

.header--text_h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
  animation: 1s ease-in-out slide--text__h1;
}

@keyframes slide--text__h1 {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

.header--text_p {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 50px;
  animation: 2s ease-in-out slide--text__p;
}

@keyframes slide--text__p {
  to {
    margin-top: 0;
    opacity: 1;
  }
  from {
    margin-top: 30px;
    opacity: 0;
  }
}

.header--flatgirl__wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: -400px;
  margin-right: 100px;
  animation: 3s ease-in-out slidein;
}

.header--flatgirl {
  width: 600px;
}

@keyframes slidein {
  to {
    margin-right: 100px;
    opacity: 1;
  }
  from {
    margin-right: -100px;
    opacity: 0;
  }
}

@media (max-width: 1700px) {
  .header--flatgirl__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: -400px;
    margin-right: -150px;
    animation: 3s ease-in-out slidein;
  }

  .header--flatgirl {
    width: 600px;
  }

  @keyframes slidein {
    to {
      margin-right: -150px;
      opacity: 1;
    }
    from {
      margin-right: 100px;
      opacity: 0;
    }
  }

  .header--text {
    margin-left: 150px;
    margin-top: 50px;
  }
}

@media (max-width: 1280px) {
  .header--flatgirl__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: -250px;
    margin-right: 150px;
    animation: 3s ease-in-out slidein;
  }

  .header--flatgirl {
    width: 450px;
  }

  @keyframes slidein {
    to {
      margin-right: 150px;
      opacity: 1;
    }
    from {
      margin-right: -100px;
      opacity: 0;
    }
  }

  .header--text {
    margin-left: 150px;
    margin-top: 50px;
  }
}

@media (max-width: 965px) {
  .header--flatgirl__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: -250px;
    margin-right: -120px;
    animation: 3s ease-in-out slidein;
  }

  .header--flatgirl {
    width: 450px;
  }

  @keyframes slidein {
    to {
      margin-right: -120px;
      opacity: 1;
    }
    from {
      margin-right: -100px;
      opacity: 0;
    }
  }

  .header--text {
    margin-left: 50px;
    margin-top: 50px;
  }
}

/*Sobre Nós*/

.sobre {
  position: sticky;
  display: grid;
  grid-template-columns: 600px 600px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 160px;
  align-content: center;
}

.sobre h2 {
  text-align: center;
}

.sobre--imgEquipe {
  width: 450px;
  box-shadow: -11px -9px 0px 2px #552650;
}

.conquistas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
  gap: 267px;
  text-align: center;
}

/*Depoimentos*/

.depoimentos {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin-top: 160px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.foto--depoimento1,
.foto--depoimento2,
.foto--depoimento3 {
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: -60px 0 0 200px;
  border-radius: 50%;
  z-index: 2;
}

.depoimentos--primeiro,
.depoimentos--segundo,
.depoimentos--terceiro {
  padding: 10px;
  width: 300px;
  height: 309px;
  border: 5px solid #c34a51;
  border-radius: 0px 40px 0px 0px;
}

/*Nossos Serviços*/

.serviços {
  display: grid;
  grid-template-columns: 600px 600px;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}

.serviços--temas {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 200px);
  justify-content: center;
  gap: 20px;
}

.serviços--temas__h1 {
  display: flex;
  align-items: flex-end;
  padding: 0 0 10px 10px;
  width: 200px;
  height: 200px;
  background-color: #c34a51;
}

.serviços--temas__h1:hover {
  color: #c34a51;
  background-color: white;
  box-shadow: 2px 2px 20px rgb(243, 243, 243);
}

.serviços--texto {
  display: grid;
  grid-template-columns: 400px;
  justify-content: center;
  justify-items: center;
}

.btn--consultor {
  width: 150px;
  text-align: center;
  color: white;
  background-color: #c34a51;
  padding: 18px 32px;
  border-radius: 10px;
  font-size: 16px;
}

/*Outros*/

.videos {
  margin-top: 160px;
  display: grid;
  text-align: center;
  justify-content: center;
}

.maps {
  margin: 160px 0 160px 0;
  width: 100%;
}

/*Footer*/
